<h3>Weapon</h3>
<h5>Title: <%= @weapon.title %></h5>
<h5>Name: <%= @weapon.name %></h5>
<h5>Current Power: <%= @weapon.current_power %></h5>
<h5>Level: <%= @weapon.level %></h5>
<p>Descrição: <%= @weapon.description %></p>

<h5>Power Base: <%= @weapon.power_base %></h5>
<h5>Power Step: <%= @weapon.power_step %></h5>

<%= link_to 'Back', weapons_path %>
